/* Color Palette & Typography */
:root {
  /* Primary Colors */
  --blue-950: hsl(233, 26%, 24%);
  --green-500: hsl(136, 64%, 51%);
  --cyan-400: hsl(192, 69%, 51%);

  /* Neutral Colors */
  --gray-600: hsl(233, 8%, 62%);
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --white: hsl(0, 100%, 100%);

  /* Typography */
  --font-family: "Public Sans", sans-serif;
  --font-size: 18px;
}

/* Apply base typography */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--gray-600);
  background-color: var(--gray-100);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: none;
  position: fixed;
  top: 70px; 
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 30%;
  background: white;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  color: var(--gray-600);
  border-radius: 10px;
}


header nav ul.open {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

header nav ul li a {
  text-decoration: none;
  color: var(--gray-600);
}


header .ham-icon{
  max-width: 100%;
  height: auto;
  cursor: pointer;
  padding: 0.3rem;
  border: none;
  background-color: var(--white);
}


header .cta-button {
  display: none;
}


main .hero {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--gray-50);
}

main .hero .hero-headline {
  font-family: var(--font-family);
  color: var(--blue-950);
}

main .hero .hero-headline h1 {
  font-size: 3rem;
}

main .hero .hero-headline p {
  font-size: var(--font-family);
  color: var(--gray-600);
}

main .hero .mobile-image {
  background-image: url("./images/bg-intro-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
}

main .hero .mobile-image img {
  max-width: 100%;
  height: auto;
}

.hero-button {
  display: inline-block;
  background: linear-gradient(180deg, var(--green-500), var(--cyan-400));
  color: white;
  border: none;
  padding: 0.7rem 1.3rem;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20px;
  background-clip: var(--cyan-400);
}

.hero-headline {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

main .why-us .heading {
  text-align: center;
  font-family: var(--font-family);
}

main .why-us .heading h2 {
  font-size: 2.5rem;
  color: var(--blue-950);
}

main .why-us .heading p {
  font-size: var(--font-family);
  color: var(--gray-600);
}

main .why-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: var(--gray-100);
  font-family: var(--font-family);
}

main .why-us .card {
  background-color: rgba(255, 255, 255, 0.945);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--gray-100);
}

main .why-us .card .one-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: var(--font-family);
  background-color: var(--gray-100);
}

main .why-us .card .one-card h3 {
  color: var(--blue-950);

  font-size: 2.5rem;
  font-weight: 300;
}

main .why-us .card .one-card p {
  font-size: var(--font-family);
  color: var(--gray-600);
  text-align: center;
  line-height: 1.5rem;
}

main .latest-article {
  background-color: var(--white);
  font-family: var(--font-family);
}

main .latest-cards {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


main .latest-cards .latest-card .img {
  width: 100%;
  height: 250px;
}

main .latest-cards .latest-card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

main .latest-article h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--blue-950);
}

main .latest-cards .latest-card-text {
  text-align: start;
  padding: 1rem;
}

main .latest-cards .latest-card-text h4 {
  color: var(--blue-950);
  font-weight: 300;
}

footer {
  background-color: var(--blue-950);
  padding: 3rem;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer .footer-container .social-icons img {
  max-width: 100%;
  height: auto;
}

footer .footer-container .icons {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

footer .footer-container .social-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer .footer-container .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-container .copyright .cta-button {
  background: linear-gradient(180deg, var(--green-500), var(--cyan-400));
  color: white;
  border: none;
  padding: 0.7rem 1.3rem;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20px;
  background-clip: var(--cyan-400);
}

footer .footer-container .footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

footer .footer-container .footer-links ul li a {
  text-decoration: none;
  color: var(--text-color);
}

footer .footer-container .copyright p {
  color: var(--text-color);
}



@media screen and (min-width: 769px) {
  header {
    justify-content: space-around;
  }

 header nav ul {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    padding: 0;
    transform: none;
    top: auto;
    left: auto;
    z-index: auto;
    flex-direction: row;
    align-items: center;
  }

  header nav ul li {
    margin: 0 15px;
  }

  header nav ul li a {
    text-decoration: none;
    color: var(--gray-600);
  }

  header .cta-button {
    display: inline-block;
    background: linear-gradient(180deg, var(--green-500), var(--cyan-400));
    color: white;
    border: none;
    padding: 0.7rem 1.3rem;
    cursor: pointer;
    font-size: 1em;
    border-radius: 20px;
    background-clip: var(--cyan-400);
  }

  header .ham-icon {
    display: none;
  }

  main .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }

  .hero-headline {
    padding: 0;
    text-align: left;
  }

  main .hero .desktop-image {
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: cover;
    width: 50%;
    height: auto;
    position: relative;
    left: 10%;
  }

  main .hero .desktop-image img {
    max-width: 100%;
    height: auto;
    position: relative;
    left: 13%;
  }

  .hero-headline {
    align-items: flex-start;
    max-width: 40%;
    margin-left: 12%;
  }

  main .hero .hero-headline p {
    max-width: 60%;
    line-height: 2.5rem;
  }

  main .why-us {
    padding: 10rem;
    padding-left: 13rem;
  }

  main .why-us .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  main .why-us .card .one-card {
    align-items: flex-start;
    text-align: start;
    width: 100%;
  }

  main .why-us .card .one-card h3 {
    max-width: 90%;
  }

  main .why-us .card .one-card p {
    line-height: 2rem;
  }

  main .why-us .heading {
    align-items: flex-start;
  }

  main .why-us .heading h2 {
    text-align: start;
  }

  main .why-us .heading p {
    text-align: start;
    max-width: 60%;
    line-height: 2.5rem;
  }

  main .why-us .card .one-card p {
    text-align: start;
  }

  main .latest-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  main .latest-article {
    padding: 10rem;
    padding-left: 14rem;
  }

  main .latest-article h2 {
    text-align: start;
    margin-left: 0.7rem;
  }

  footer {
    padding: 1rem;
  }

  footer .footer-container {
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }

  footer .footer-container .social-icons img {
    max-width: 100%;
    height: auto;
  }

  footer .footer-container .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .footer-container .footer-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    right: 10%;
  }
}
