/* Color Palette */
:root {
  --primary-color: hsl(136, 64%, 51%); /* Green */
  --cyan-400: hsl(192, 69%, 51%);
  --secondary-color: #ff9800; /* Orange */
  --background-color: #f5f5f5; /* Light Grey */
  --text-color: #333333; /* Dark Grey */
  font-family: Public Sans, sans-serif;
  font-weight: 18px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: none;
}

header .cta-button {
  display: none;
}

@media screen and (min-width: 768px) {
  header nav ul {
    display: flex;
  }

  header nav ul li {
    margin: 0 15px;
  }

  header .cta-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.7rem 1.3rem;
    cursor: pointer;
    font-size: 1em;
    border-radius: 20px;
    background-clip: var(--cyan-400);
  }

  header .ham-icon {
    display: none;
  }
}
